<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <title>{{naslov}}</title>
    <link href="{{url('static', filename='style.css')}}" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/">Domov</a>
            <a href="/home">Moj profil</a>
            <a href="/srecanja">Bralna srečanja</a>
            <a href="/prijava_stran">prijava in registracija</a>  
        </nav>
        <hr>
    </header>

    <div class="container">
        {{!base}}
    </div>

    <footer>
        <hr>
        <p>&copy; 2025 Knjižnica</p>
    </footer>
</body>
</html>
